body {
  margin: 0;
}
head h1 {
  z-index: 0;
  text-align: center;
  margin: 0%;
  
}
canvas {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  display: block;
  background: url("background.jpg")
}

#container .menu div {
  /* margin: 0%; */
  width: 15%;
  left: 42%;
  padding: 5px;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  top: 30px;
  background: transparent;
  text-align: center;
  position: relative;
  color: cornsilk;
}

#pause {
  margin-top: 10%;
  font: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  z-index: 1;
  text-align: center;
  padding: 10px;
  position: relative;
}


#container #score {
  width:100%px;
  height:10%;
  z-index: 1;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font: bolder;
  left: 46.8%;
  position: fixed;
  color: cornsilk;
}

#pad2{
  z-index: 2;
  margin: 1%;
  bottom: 5%;
  right: 0;
  position: fixed;
}

.debug{
  color: cornsilk;
}


#pad1{
  z-index: 2;
  margin: 1%;
  bottom: 0%;
  right: 0;
  position: fixed;
}

#running{
  z-index: 2;
  margin: 1%;
  bottom: 30%;
  right: 0;
  position: fixed;
}

#debugButton{
  z-index: 2;
  margin: 1%;
  left: 0%;
  top: 0%;
  position: fixed;
  display: block;
  color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font: bolder;
}

#paused{
  z-index: 2;
  margin: 1%;
  bottom: 35%;
  right: 0;
  position: fixed;
}

#pause{
  color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font: bolder;
}

#savedspeed {
  z-index: 2;
  margin: 1%;
  bottom: 10%;
  right: 0;
  position: fixed;

}
#musicStatus {
  z-index: 2;
  margin: 1%;
  bottom: 40%;
  right: 0;
  position: fixed;
}
#music {
  z-index: 2;
  margin: 1%;
  bottom: 0%;
  left: 0;
  position: fixed;
  display: block;
  color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font: bolder;
}

#speed{
  z-index: 2;
  margin: 1%;
  bottom: 15%;
  right: 0;
  position: fixed;
}

#angle{
  z-index: 2;
  margin: 1%;
  bottom: 20%;
  right: 0;
  position: fixed;
}

#type{
  z-index: 2;
  margin: 1%;
  bottom: 25%;
  right: 0;
  position: fixed;
}

#container canvas {
  position: absolute;
}

.debug {
  display: none;
}